# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.


District Summary

Calculate the total number of schools
Calculate the total number of students
Calculate the total budget
Calculate the average math score 
Calculate the average reading score
Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
Calculate the percentage of students with a passing math score (70 or greater)
Calculate the percentage of students with a passing reading score (70 or greater)
Create a dataframe to hold the above results
Optional: give the displayed data cleaner formatting

In [248]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data_df = pd.read_csv(school_data_path)
student_data_df = pd.read_csv(student_data_path)

# Combine the data into a single dataset
school_merge_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

school_merge_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [249]:
# Rename de Header

school_merge_rn_df= school_merge_df.rename(columns={
"Student ID": "Student ID",
"student_name": "Student Name",
"gender": "Gender",
"grade": "Grade",
"school_name": "School Name",
"reading_score": "Reading Score",
"math_score": "Math Score",
"School ID": "School ID",
"type": "Type of School",
"size": "Size of School",
"budget": "Budget"
})

#lets verify our new header
school_merge_rn_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type of School,Size of School,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [250]:
# verify that is not empty cells
school_merge_rn_df.count()

Student ID        39170
Student Name      39170
Gender            39170
Grade             39170
School Name       39170
Reading Score     39170
Math Score        39170
School ID         39170
Type of School    39170
Size of School    39170
Budget            39170
dtype: int64

In [251]:
# verify the types of the each column
school_merge_rn_df.dtypes

Student ID         int64
Student Name      object
Gender            object
Grade             object
School Name       object
Reading Score      int64
Math Score         int64
School ID          int64
Type of School    object
Size of School     int64
Budget             int64
dtype: object

In [252]:
# Calculate the total number of schools
# the Fancy way should be with shape[0]

total_number_of_schools= len(school_merge_rn_df["School Name"].unique())
total_number_of_schools

15

In [253]:
# Calculate the total number of students

total_students= school_merge_rn_df["Student Name"].count()
total_students

39170

In [254]:
# Calculate the total budget 

# School Name and Type ["Type of School"]

school_gb = school_merge_rn_df.set_index("School Name").groupby(["School Name"])

school_type = school_data_df.set_index("school_name")["type"]

# Total Students per School

students_gb = school_gb .count()["Student ID"]
students_gb

budget_gb = school_gb.mean()["Budget"]
budget_gb

total_budget = budget_gb.sum()
total_budget



# I was using this: total_budget= school_merge_rn_df["Budget"].unique().sum() but if many schools have the same budget will be not considered.

24649428.0

In [255]:
# Calculate the average math score

math_average_score =round(school_merge_rn_df["Math Score"].mean(),2)
math_average_score

78.99

In [256]:
# Calculate the average reading score
reading_average_score =round(school_merge_rn_df["Reading Score"].mean(),2)
reading_average_score

81.88

In [257]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

overall_average_score =round((math_average_score + reading_average_score)/2 ,2)
overall_average_score

80.44

In [258]:
# Calculate the percentage of students with a passing math score (70 or greater)

passing_math_students = len(school_merge_rn_df.loc[school_merge_rn_df["Math Score"]>= 70,:])

total_math_students = school_merge_rn_df["Math Score"].count()

percentage_passing_math_students = round( (passing_math_students / total_math_students * 100), 2)

percentage_passing_math_students

74.98

In [259]:
# Calculate the percentage of students with a passing reading score (70 or greater
passing_reading_students = len(school_merge_rn_df.loc[school_merge_rn_df["Reading Score"]>= 70,:])

total_reading_students = school_merge_rn_df["Reading Score"].count()

percentage_passing_reading_students = round( (passing_reading_students / total_reading_students * 100), 2)

percentage_passing_reading_students

85.81

In [260]:
# Create a dataframe to hold the above results

results_dict= [{
        "Total Schools": total_number_of_schools,
        "Total Students": total_students,
        "Total Budget": total_budget,
        "Average Math Score": math_average_score,
        "Average Reading Score": reading_average_score,
        "% Passing Math":f"% {percentage_passing_math_students}",
        "% Passing Reading": f"% {percentage_passing_reading_students}",
        "Overall Passing Rate": overall_average_score
    
}]


results_df= pd.DataFrame(results_dict)


results_df.head()

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Total Budget,Total Schools,Total Students
0,% 74.98,% 85.81,78.99,81.88,80.44,24649428.0,15,39170

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [261]:
# School Summary.

# School Name and Type ["Type of School"]

school_gb = school_merge_rn_df.set_index("School Name").groupby(["School Name"])

school_type = school_data_df.set_index("school_name")["type"]

In [262]:
# if you prefer you can print school_type to verify our data Frame

In [263]:
# Total Students per School

students_gb = school_gb .count()["Student ID"]
# print students_gb

In [264]:
# Total Budget per School

budget_gb = school_gb.mean()["Budget"]
# print budget_gb

In [265]:
# Budget per Student

budget_student = budget_gb / students_gb
# print budget_student

In [266]:
# Average Math Score

math_score_average = school_gb.mean()["Math Score"]


# Average Reading Score

reading_score_average = school_gb.mean()["Reading Score"]

In [267]:
# % Passing Math 

passing_math_st_school = school_merge_rn_df.loc[school_merge_rn_df["Math Score"]>= 70,:].groupby(["School Name"]).count()
percentage_passing_math_students_school = (passing_math_st_school["Math Score"]/ students_gb)*100
#percentage_passing_math_students_school

In [268]:
# % Passing Reading 
passing_reading_st_school = school_merge_rn_df.loc[school_merge_rn_df["Reading Score"]>= 70,:].groupby(["School Name"]).count()
percentage_passing_reading_students_school = (passing_reading_st_school["Reading Score"] / students_gb)*100

#percentage_passing_reading_students_school

In [269]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2


# overall_passing_rate_school =(math_score_average + reading_score_average)/2

overall_passing_rate_school =(percentage_passing_math_students_school + percentage_passing_reading_students_school)/2
#overall_passing_rate_school

In [271]:
# Create a dataframe to hold the above results

results_schools_df = pd.DataFrame({
        "Total Schools": school_type,
        "Total Students": students_gb,
        "Total Budget": budget_gb,
        "Budget per Student": budget_student,
        "Average Math Score": math_score_average,
        "Average Reading Score": reading_score_average,
        "% Passing Math":percentage_passing_math_students_school,
        "% Passing Reading": percentage_passing_reading_students_school,
        "Overall Passing Rate": overall_passing_rate_school
    
})

results_schools_df["% Passing Reading"]= results_schools_df["% Passing Reading"].map("%{:.2f}".format)
results_schools_df["% Passing Math"]= results_schools_df["% Passing Math"].map("%{:.2f}".format)

# results_schools_df["Average Math Score"]= results_schools_df["Average Math Score"].map("{:.2f}".format)
# results_schools_df["Average Reading Score"]= results_schools_df["Average Reading Score"].map("{:.2f}".format)
# results_schools_df["Overall Passing Rate"]= results_schools_df["Overall Passing Rate"].map("{:.2f}".format)
# results_schools_df["Total Students"]= results_schools_df["Total Students"].map("{:,}".format)
# results_schools_df["Total Budget"]= results_schools_df["Total Budget"].map("{:,}".format)
# results_schools_df["Budget per Student"]= results_schools_df["Budget per Student"].map("{:,}".format)


results_schools_df

,Total Schools,Total Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,%66.68,%81.93,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,%94.13,%97.04,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,%65.99,%80.74,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,%68.31,%79.30,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,%93.39,%97.14,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,%66.75,%80.86,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,%92.51,%96.25,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,%65.68,%81.32,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,%66.06,%81.22,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,%94.59,%95.95,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,%66.37,%80.22,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,%93.87,%95.85,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,%93.27,%97.31,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,%93.87,%96.54,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,%93.33,%96.61,94.972222

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [272]:
#the top five schools in overall passing rate

top_schools_df = results_schools_df.sort_values("Overall Passing Rate", ascending = False)

top_schools_df.head()

,Total Schools,Total Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,%94.13,%97.04,95.586652
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,%93.27,%97.31,95.290520
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,%94.59,%95.95,95.270270
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,%93.39,%97.14,95.265668
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,%93.87,%96.54,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [273]:
#the worst five schools in overall passing rate

bottom_schools_df = results_schools_df.sort_values("Overall Passing Rate")
bottom_schools_df.head()

,Total Schools,Total Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,%66.37,%80.22,73.293323
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,%65.99,%80.74,73.363852
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,%65.68,%81.32,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,%66.06,%81.22,73.639992
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,%68.31,%79.30,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [274]:
#Create a pandas series for each grade. Hint: use a conditional statement.

ninth_grade= school_merge_rn_df[(school_merge_rn_df["Grade"] == "9th")]
tenth_grade= school_merge_rn_df[(school_merge_rn_df["Grade"] == "10th")]
eleventh_grade= school_merge_rn_df[(school_merge_rn_df["Grade"] == "11th")]
twelfth_grade= school_merge_rn_df[(school_merge_rn_df["Grade"] == "12th")]

In [275]:
# Group each series by school

ninth_scores = ninth_grade.groupby("School Name")["Math Score"].mean()
tenth_scores = tenth_grade.groupby("School Name")["Math Score"].mean()
eleventh_scores = eleventh_grade.groupby("School Name")["Math Score"].mean()
twelfth_scores = twelfth_grade.groupby("School Name")["Math Score"].mean()

In [276]:
# Combine the series into a dataframe
math_scores_by_grade_df = pd.DataFrame({
    "9th" : round(ninth_scores,2),
    "10th" : round(tenth_scores,2),
    "11th" : round(eleventh_scores,2),
    "12th" : round(twelfth_scores,2)
    
})

math_scores_by_grade_df.head()

                        9th   10th   11th   12th
School Name
Bailey High School    77.08  77.00  77.52  76.49
Cabrera High School   83.09  83.15  82.77  83.28
Figueroa High School  76.40  76.54  76.88  77.15
Ford High School      77.36  77.67  76.92  76.18
Griffin High School   82.04  84.23  83.84  83.36

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [277]:
#Create a pandas series for each grade. Hint: use a conditional statement.

ninth_grade_reading= school_merge_rn_df[(school_merge_rn_df["Grade"] == "9th")]
tenth_grade_reading= school_merge_rn_df[(school_merge_rn_df["Grade"] == "10th")]
eleventh_grade_reading= school_merge_rn_df[(school_merge_rn_df["Grade"] == "11th")]
twelfth_grade_reading= school_merge_rn_df[(school_merge_rn_df["Grade"] == "12th")]

In [278]:
# Group each series by school

ninth_scores_reading = ninth_grade.groupby("School Name")["Reading Score"].mean()
tenth_scores_reading = tenth_grade.groupby("School Name")["Reading Score"].mean()
eleventh_scores_reading = eleventh_grade.groupby("School Name")["Reading Score"].mean()
twelfth_scores_reading = twelfth_grade.groupby("School Name")["Reading Score"].mean()

In [279]:
# Combine the series into a dataframe
reading_scores_by_grade_df = pd.DataFrame({
    "9th" : round(ninth_scores_reading,2),
    "10th" : round(tenth_scores_reading,2),
    "11th" : round(eleventh_scores_reading,2),
    "12th" : round(twelfth_scores_reading,2),
    
})

reading_scores_by_grade_df.head()

                        9th   10th   11th   12th
School Name
Bailey High School    81.30  80.91  80.95  80.91
Cabrera High School   83.68  84.25  83.79  84.29
Figueroa High School  81.20  81.41  80.64  81.38
Ford High School      80.63  81.26  80.40  80.66
Griffin High School   83.37  83.71  84.29  84.01

In [213]:
# se puede definir una funcion ya que hacemos lo mismo para reading y para math, solo que se reciben datos de una materia diferente
#en este caso solo lo hacemos para matematicas y para lectura, pero si lo hacemos para mas materias si conviene definir la funcion.

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [280]:
# lets see the min budget per student
min_budget_student = results_schools_df["Budget per Student"].min
min_budget_student()

578.0

In [281]:
# lets see the max budget per student
max_budget_student = results_schools_df["Budget per Student"].max
max_budget_student()

655.0

In [282]:
# knowing the range of the budget per students we will create the bins
spending_bins = [0, 580, 600, 620, 640]
group_names = ["<$580", "$580-599", "$620-639", "$640-660"]

In [286]:
#place the data series into a new column inside of the dataframe.

results_schools_df["Spending Ranges Per Student"]= pd.cut(results_schools_df["Budget per Student"],spending_bins, labels= group_names)
budget_bins_group = results_schools_df.groupby("Spending Ranges Per Student")
#print(budget_bins_group["Budget per Student"].count())

In [287]:
# get the average of each column within the groupby object

budget_bins_group[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,Overall Passing Rate
Spending Ranges Per Student,,,
<$580,83.274201,83.989488,95.203679
$580-599,83.476713,83.867873,94.949785
$620-639,83.839917,84.044699,95.270270
$640-660,79.474551,82.120471,82.304007

In [219]:
# esta se puede borrar es la del ejemplo

## Scores by School Size

* Perform the same operations as above, based on school size.

In [220]:
# Sample bins. Feel free to create your own bins.
# size_bins = [0, 1000, 2000, 5000]
# group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [288]:
# lets see the min budget per student

min_total_student = results_schools_df["Total Students"].min
min_total_student()

427

In [289]:
# lets see the max budget per student

max_total_student = results_schools_df["Total Students"].max
max_total_student()

4976

In [290]:
#place the data series into a new column inside of the dataframe.

size_bins = [0, 1000, 2000, 5000]
group_size = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
results_schools_df["School Size"]= pd.cut(results_schools_df["Total Students"], size_bins, labels= group_size)
size_bins_group = results_schools_df.groupby("School Size")
size_bins_group.head()
size_bins_group[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,Overall Passing Rate
School Size,,,
Small (<1000),83.821598,83.929843,94.824831
Medium (1000-2000),83.374684,83.864438,95.195187
Large (2000-5000),77.746417,81.344493,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [291]:
# Scores by school type.
size_bins_group = results_schools_df.groupby("Total Schools")
size_bins_group[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]].mean()

               Average Math Score  Average Reading Score  Overall Passing Rate
Total Schools
Charter                 83.473852              83.896421             95.103660
District                76.956733              80.966636             73.673757

In [ ]:
# Carolina Muizzi